* {
    font-family: sans-serif;
    color:rgb(28, 28, 31);
    font-size: 20px;
}

body {
    
    justify-content: center;

    align-items: center;
    background-color: darkgray;
}

h1 {
    padding: 10px;
}

.bg-black {
    background-color: #000000;
}

#map {
    position: relative;
    border: 1px solid black;
    border-radius: 8px;
    height: 50%;
    width: 100%;
  }
  
  h3 {
    text-align: center;
  }

  /* vertically scrolling flights table */

  .table-wrapper {
    max-height: 150px;
    overflow: auto;
    display:inline-block;
  }